.nav{
    background-color: #15191b;
    color:white;
}
.formulario2{
    background-color: #15191b;
}

.formulario{
    border-radius:6px;
    padding:20px;
    margin: 0 auto;
    width:350px;
}
.main{
    background-color: #42839d;
}
.fondoIcono{
    text-decoration: none;
    color:white;
}
.fondoIcono:hover{
    color:#e47911 ;
}

.tamañoLetra{
    font-size: 18px;
}
