.nav{
    background-color: black;
}
.form{
    padding: 15rem;
}
.formulario{
    border-radius:6px;
    padding:20px;
    margin: 0 auto;
    width:350px;
}
.main{
    background-color: #42839d;
}
.tituloForm{
    font-weight: bold;
}
.Text{
    border:0;
    outline:none;
}
